node_modules/
dist/
.env
.DS_Store
*.log

# Capacitor / Android
android/*
!android/app
android/app/*
!android/app/src
android/app/src/*
!android/app/src/main
android/app/src/main/*
!android/app/src/main/AndroidManifest.xml
.gradle/
local.properties
*.keystore
*.jks
